.pedido {
  display: flex;
  position: absolute;
  width: 19vw;
  height: 30vh;
  background-color: black;
  top: 34vh;
  left: 40vw;
  margin-top: 1px
}
.divnada{
  display:inline;
}
#name {
  font-size: 1.25em;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 19vw;

}
#aceita {
  font-size: 1.25em;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 100%;

}


/* CSS */
button {
  
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#sim{
  background-color: #81ea4c;
}
#nao{
  background-color: #ea544c;
}
#sim:hover,
#sim:focus {
  background-color: #82f09a;
}

#nao:hover,
#nao:focus {
  background-color: #f08282;
}

.Botoes{
  display:flex;
  margin: auto;
  justify-content: space-between;
  margin-left:5vw ;
  margin-right:5vw ;

}